@charset "utf-8";
@import "../../scss/variables.scss";

.title_wrap {
  display: flex;
  align-items: center;
  padding: 16px;

  h2 {
    font-size: 18px;
    font-weight: 700;
    color: $mainText;
  }

  .count {
    margin-left: 8px;
    color: #7b858e;
    font-size: 14px;

    em {
      color: $main600;
      font-style: normal;
    }
  }

  &[data-in-view="false"] {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
  }

  &.is_fixed {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 322px;
    right: 20px;
    height: 50px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    z-index: 30;
  }
}

.tab_list {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-bottom: 1px solid $mainBorder;
}

.tab_item {
  & + .tab_item {
    margin-left: 10px;
  }
}

.btn_tab {
  font-size: 16px;
  line-height: 1;
  border: none;
  background: none;
  padding: 16px 24px;
  height: auto;
  position: relative;
  color: #7b858e;

  &[aria-selected="true"] {
    color: $mainText;
    font-weight: 700;
    
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $main600;
      content: "";
    }
  }
}

.comment_item {
  display: flex;
  padding: 12px 12px 12px 0;

  &.has_reply {
    background-color: #f8f9fa;
  }
}

.reply_wrap {
  position: relative;
  flex: 0 0 92px;

  .icon_reply {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 4px;
    left: 68px;
    padding: 0;
    border-left: 1px solid #c5cbd0;
    border-bottom: 1px solid #c5cbd0;
    z-index: 10;
    content: "";
  }
}

.recommend_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 64px;
  gap: 4px;
  padding-top: 8px;
}

.btn_like {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  svg {
    fill: #dddfe4;
  }
}

.recommend_count {
  color: $mainText;
  font-weight: 600;
}

.btn_dislike {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  svg {
    fill: #dddfe4;
    transform: rotate(180deg);
  }
}

.main_wrap {
  flex-grow: 1;
}

.info_wrap {
  display: flex;
  align-items: center;
  line-height: 24px;
}

.last_update {
  padding-left: 8px;
  color: $mainSub;
  font-size: 14px;

  &::before {
    display: inline-block;
    height: 12px;
    margin-right: 8px;
    border-left: 1px solid $mainSub;
    vertical-align: middle;
    content: "";
  }
}

.rank {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 24px;
}

.writer {
  line-height: 16px;
  font-weight: 600;
  color: #1e2022;
  font-size: 14px;
}

.content {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: $mainText;
  font-weight: 400;

  .tag_comment {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 2px;
    background: $main100;
    color: $main700;
    margin-right: 4px;
  }

  &.is_deleted {
    color: gray;
    font-weight: 500;
  }
}

.bottom_wrap {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
  color: $mainSub;
  line-height: 24px;
}

.btn_delete {
  color: $mainSub2;

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='800' height='800' version='1.0' viewBox='0 0 64 64'%3E%3Cg fill='%238b99a6'%3E%3Cpath d='M56 4H40c0-2.211-1.789-4-4-4h-8c-2.211 0-4 1.789-4 4H8C5.789 4 4 5.789 4 8v5a1 1 0 0 0 1 1h54a1 1 0 0 0 1-1V8c0-2.211-1.789-4-4-4zM20 24a1 1 0 0 0-1 1v26a1 1 0 1 0 2 0V25a1 1 0 0 0-1-1zM32 24a1 1 0 0 0-1 1v26a1 1 0 1 0 2 0V25a1 1 0 0 0-1-1zM44 24a1 1 0 0 0-1 1v26a1 1 0 1 0 2 0V25a1 1 0 0 0-1-1z'/%3E%3Cpath d='M9 16H7v44c0 2.211 1.789 4 4 4h42c2.211 0 4-1.789 4-4V16H9zm14 35a3 3 0 1 1-6 0V25a3 3 0 1 1 6 0v26zm12 0a3 3 0 1 1-6 0V25a3 3 0 1 1 6 0v26zm12 0a3 3 0 1 1-6 0V25a3 3 0 1 1 6 0v26z'/%3E%3C/g%3E%3C/svg%3E") 0 0/14px 14px no-repeat;
    vertical-align: middle;
    content: "";
  }
}

.btn_edit {
  color: $mainSub2;

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23808080' fill-rule='evenodd' d='M20.848 1.879a3 3 0 0 0-4.243 0L2.447 16.036a3 3 0 0 0-.82 1.533l-.587 2.936a2 2 0 0 0 2.353 2.353l2.936-.587a3 3 0 0 0 1.533-.82L22.019 7.293a3 3 0 0 0 0-4.243L20.848 1.88Zm-2.829 1.414a1 1 0 0 1 1.415 0l1.171 1.171a1 1 0 0 1 0 1.415L17.933 8.55l-2.585-2.586 2.671-2.671Zm-4.086 4.086L3.862 17.45a1 1 0 0 0-.274.51l-.587 2.936 2.935-.587a1 1 0 0 0 .511-.274L16.52 9.964 13.933 7.38Z' clip-rule='evenodd'/%3E%3C/svg%3E") 0 0/14px 14px no-repeat;
    vertical-align: middle;
    content: "";
  }
}

.btn_report {
  color: $mainSub2;
}

.btn_reply {
  color: $mainSub2;
  
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }
}

.comment_write_wrap {
  background-color: #f8f9fa;
  padding: 24px 16px;

  &.is_reply_comment {
    position: relative;
    padding-left: 92px;

    .icon_reply {
      position: absolute;
      width: 9px;
      height: 9px;
      top: 26px;
      left: 64px;
      padding: 0;
      border-left: 1px solid #c5cbd0;
      border-bottom: 1px solid #c5cbd0;
      z-index: 10;
      content: "";
    }
  }

  &.is_edit {
    padding: 0;
    background-color: #fff;
  }
}

.comment_write_area {
  border: 1px solid #dddfe4;
  padding-top: 16px; 
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px 16px;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  line-height: 20px;
  cursor: text;
}

.comment_write_bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddfe4;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 12px;
}

.label_image {
  padding: 0;
  background: none;
  font-size: 16px;
  color: #7b858e;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url("https://talk.op.gg/images/icon-picture@2x.png") 0 0/16px 16px no-repeat;
    vertical-align: top;
    content: "";
  }
}

.input_image {
  display: none;
}

.content_length {
  color: #7b858e;
  font-size: 16px;
  line-height: 16px;
}

.btn_comment_write {
  flex-basis: 92px;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  border: 1px solid $main600;
  -webkit-transition: all 0.3s cubic-bezier(0.075,0.82,0.165,1);
  transition: all 0.3s cubic-bezier(0.075,0.82,0.165,1);
  color: #fff;
  background-color: $main600;
}