@charset "utf-8";
@import "../scss/variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;

  .infoState_wrapper {
    border-bottom: 1px solid $mainBorder;
    margin-bottom: 10px;
    height: 30px;
    text-align: center;

    h1 {
      color: $main600;
      font-size: 20px;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      button {
        position: relative;
        left: -190px;
        top: -8px;
        &::before {
          background-repeat: no-repeat;
          background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_1f05c0.png);
          background-position: -130px -388px;
          background-size: 440px 410px;
          width: 30px;
          height: 30px;
          display: inline-block;
          vertical-align: top;
          content: "";
        }
      }
    }
  }

  img {
    margin-left: 31%;
  }

  & > div {
    box-sizing: border-box;
    width: 460px;
  }
}

.profile_wrapper {
  border: $mainBorder 1px solid;
  width: 500px;
  margin-bottom: 10px;
  border-radius: 6px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #c6c6c6;
    pointer-events: none;
    content: "";
  }
  img {
    width: 200px;
    height: 150px;
    border-radius: 100%;
  }

  input {
    flex: 1 1 auto;
    font-size: 15px;
    line-height: 22px;
    color: #222;
  }

  h5 {
    flex: 1 1 auto;
    font-size: 15px;
    line-height: 22px;
    color: #222;
  }
}
[class*="Profile_wrapper"] {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50px;
  padding: 0 10px 0 45px;

  & + [class*="wrapper"] {
    margin-top: -1px;
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &::before {
    position: absolute;
    top: 10px;
    left: 9px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;

    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #dfdfdf;
    pointer-events: none;
    content: "";
  }

  &.is_focus {
    z-index: 10;

    &::after {
      border: 1px solid $main400;
    }
  }

  &.is_error {
    z-index: 20;

    &::after {
      border: 2px solid #ff3f3f;
    }
  }
}

.info_wrapper {
  width: 500px;
  border: 1px $mainBorder solid;
  input {
    width: 1000px;
  }
}

.wrapper_nickname {
  &::before {
    background-position: -342px -64px;
  }
}

.wrapper_rank {
  &::before {
    background-position: -223px -300px;
  }
}

.wrapper_location {
  &::before {
    background-position: -288px -296px;
  }
}

.wrapper_password {
  &::before {
    background-position: -310px 0;
  }
}

.retouchBtn {
  width: 500px;
  height: 50px;
  font-size: 15px;
  background-color: $main400;
}

.toDelete {
  margin-top: 5px;
  width: 500px;
  height: 50px;
  font-size: 15px;
  color: rgb(151, 66, 66);
  background-color: $main400;
}

.imgInput {
  cursor: pointer;
  img {
    border-radius: 100%;
    width: 200px;
    height: 150px;
  }
}

.mainBtn {
  margin-left: 1px;
  background-color: $main400;
  width: 499px;
  height: 40px;
}
.subBtn {
  margin-top: 5px;
  margin-left: 1px;
  background-color: $main400;
  width: 499px;
  height: 40px;
}
.btn_show {
  margin-left: 4px;

  &::before {
    background-position: -256px -296px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    content: "";
  }
}

.btn_noShow {
  margin-left: 4px;

  &::before {
    background-position: -256px -296px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 363px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    content: "";
  }
}
