@charset "utf-8";
@import "../scss/variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;

  .infoState_wrapper {
    border: 1px solid $mainBorder;
    margin-bottom: 10px;
    height: 30px;
    text-align: center;

    .toHomeBtn {
      display: flex;
      &::before {
        background-repeat: no-repeat;
        background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_1f05c0.png);
        background-position: -130px -385px;
        background-size: 440px 410px;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: top;
        content: "";
      }
    }

    h1 {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: $main700;
      font-size: 20px;
      position: relative;
      top: -25px;
      margin-bottom: 10px;
    }
  }

  & > div {
    box-sizing: border-box;
    width: 460px;
  }
}

.profile_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    width: 200px;
    height: 170px;
    border-radius: 100%;
    margin-bottom: 10px;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    content: "";
  }

  input {
    flex: 1 1 auto;
    font-size: 15px;
    line-height: 22px;
    color: #222;
  }

  h5 {
    flex: 1 1 auto;
    font-size: 15px;
    line-height: 22px;
    color: #222;
  }
}
[class*="Profile_wrapper"] {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50px;
  padding: 0 10px 0 45px;

  & + [class*="wrapper"] {
    margin-top: -1px;
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &::before {
    position: absolute;
    top: 10px;
    left: 9px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;

    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #dfdfdf;
    pointer-events: none;
    content: "";
  }

  &.is_focus {
    z-index: 10;

    &::after {
      border: 1px solid $main400;
    }
  }

  &.is_error {
    z-index: 20;

    &::after {
      border: 2px solid #ff3f3f;
    }
  }
}

.info_wrapper {
  position: relative;
  input {
    width: 500px;
  }
}

.wrapper_img {
  img {
    margin-top: 10px;
    margin-left: 20%;
  }
}

.wrapper_nickname {
  &::before {
    background-position: -342px -64px;
  }
}

.wrapper_rank {
  &::before {
    background-position: -223px -300px;
  }
}

.wrapper_location {
  &::before {
    background-position: -288px -296px;
  }
}

.wrapper_password {
  &::before {
    background-position: -310px 0;
  }
}

.wrapper_imgInput {
  cursor: pointer;
  height: 200px;
  img {
    margin-left: 20%;
    border-radius: 100%;
    width: 200px;
    height: 150px;
  }
}

.retouchBtn {
  margin-top: 10px;
  width: 100%;
  padding: 14px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #81acff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.toDelete {
  margin-top: 10px;
  width: 100%;
  padding: 14px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #81acff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(203, 58, 58);
}

.mainBtn {
  margin-top: 10px;
  width: 100%;
  padding: 14px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #81acff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}
.subBtn {
  margin-top: 10px;
  width: 100%;
  padding: 14px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #81acff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}
.btn_show {
  margin-left: 4px;

  &::before {
    background-position: -256px -296px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    content: "";
  }
}

.btn_noShow {
  margin-left: 4px;

  &::before {
    background-position: -256px -296px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 363px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    content: "";
  }
}
