@charset "utf-8";
@import "./scss/variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
  color: $mainText;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

button, input {
  padding: 0;
  margin: 0;
}

button, input, select, textarea {
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.aside {
  position: sticky;
  top: 20px;
  flex-shrink: 0;
  background-color: $mainBackground; 
  width: 280px; 
  margin: 20px; 
  border: 1px solid $mainBorder;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

main, .postDetailRoute, .postWroteRoute, .postWriteRoute, .postCorrectRoute, .noteList {
  flex: 1;
  margin: 20px 20px 20px 0px;
}

.filter, .postDetail, .noteList {
  background-color: $mainBackground;
  border: 1px solid #dbe1e5;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.noteList {
  min-width: 980px;
  padding: 15px;
}

.postlist, .comment {
  margin-top: 20px;
  background-color: $mainBackground;
  border: 1px solid #dbe1e5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.postWrite_warn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: $mainBackground;
  border: 1px solid #dbe1e5;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);

  .postWrite_warn_text {
    color: #7b858e;
    font-size: 14px;
    line-height: 20px;
  }
}

.postWrite_btn_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.postWrite_btn {
  width: 154px;
  height: 48px;
  border: 1px solid #dddfe4;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 38px;
  color: #7b858e;
  text-align: center;

  &:last-child {
    color: #fff;
    background-color: $main700;
  }
}

.filter {
  &.is_fixed {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 322px;
    right: 20px;
    height: 108px;
    border-radius: 0;
    z-index: 30;
    box-shadow: none;
  }
}