@charset "utf-8";
@import "../../scss/variables.scss";

.profile_wrap {
  padding: 16px;
  border-bottom: 1px solid #ebeef1;
}

.profile_area {
  display: flex;
  gap: 8px;
}

.rank {
  width: 54px;
  height: 54px;
  background-color: red;
  // [TODO] 추후 랭크 값에따라 배경색 변경
  border-radius: 50%;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.top_area {
  display: flex;
  line-height: 17px;
  justify-content: space-between;
  align-items: center;
}

.send_note {
  font-size: 12px;
  font-weight: 600;
  color: $mainText;
  line-height: 19px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  &::before {
    display: inline-block;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(162,187,236,0.999)' stroke='' viewBox='0 0 18 19'%3e%3cpath fill-rule='evenodd' d='M17.609 12.965c0 .147-.06.288-.165.39l-4.68 4.511a.542.542 0 01-.746.006l-3.411-3.186c-.028-.026-.042-.059-.063-.088l-3.421 3.296a.544.544 0 01-.376.152l-.016-.001a.537.537 0 01-.382-.175L.261 13.416a.541.541 0 01.028-.761l3.579-3.368V.532c0-.299.242-.542.541-.542h9.248c.299 0 .541.243.541.542v8.929l3.245 3.113a.544.544 0 01.166.391zM4.771 16.73l7.703-7.422-3.491-3.349-7.563 7.118 3.351 3.653zm8.344-14.66L9.773 5.216l3.342 3.206V2.07zm-.52-.997h-7.14L8.99 4.465l3.605-3.392zM8.201 5.209L4.951 2.09v6.178l3.25-3.059zm5.055 4.849l-3.962 3.817c.016.012.038.006.052.02l3.036 2.835 3.905-3.764-3.031-2.908z'/%3e%3c/svg%3e") 0 0 no-repeat;
    width: 17px;
    height: 17px;
    margin-top: 2px;
    margin-right: 3px;
    vertical-align: top;
    content: "";
  }
}

.unread_note_count {
  margin-left: 3px;
  color: $main400;
  font-weight: 700;
}

.nickname {
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  color: $mainText;
}

.level {
  margin: 4px 0 8px;
  line-height: 15px;
  font-size: 12px;
  color: $main700;
}

.level_info {
  margin-top: 4px;
  line-height: 15px;
  font-size: 12px;
  color: #98a0a7;
  text-align: right;
}

.bar {
  position: relative;
  height: 6px;
  width: 100%;
  background: #ebeef1;
  border-radius: 3px;
  overflow: hidden;
}

.gage {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 6px;
  background: linear-gradient(95deg,#1ea1f7,#46cfa7);
}

.nav {
  display: flex;
  flex-direction: column;

  .link {
    flex-grow: 1;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid $main400;
    font-size: 14px;
    line-height: 38px;
    color: $main600;
    text-align: center;

    &:hover {
      background-color: #f8f9fa;
    }

    &:last-child {
      color: #fff;
      background-color: $main600;

      &:hover {
        background-color: $main700;
      }
    }
  }
}