@charset "utf-8";
@import "../../scss/variables.scss";

.find_wrap {
  margin-top: 50px;
  margin-bottom: 50px;
  border: $mainBorder 1px solid;
  width: 500px;
  height: 300px;
}

.FindAccount_Btn {
  border-radius: 4%;
  margin-top: 20px;
  margin-left: 100px;
  width: 300px;
  height: 50px;
  background: $main500;
  color: white;
}
.firstClick {
  margin-top: 50px;
  margin-left: 100px;
  width: 300px;
  height: 50px;
  background: $main200;
}

.confirm_wrap {
  margin-top: 60px;
  margin-left: 100px;

  input {
    background: $main200;
    width: 230px;
    height: 50px;
  }
  button {
    position: relative;
    margin-left: 10px;
    background: $main400;
    height: 50px;
    width: 60px;
    border-radius: 4px;
    color: white;
  }
  button:hover {
    background: $main500;
  }
  p {
    margin-top: 10px;
    font-size: 13px;
  }
}
