@charset "utf-8";
@import "../../scss/variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;

  & > div {
    box-sizing: border-box;
    width: 460px;
  }
}

[class*="FindAccount_wrapper"] {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0 10px 0 45px;
  position: relative;
  & + [class*="wrapper"] {
    margin-top: -1px;
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &::before {
    position: absolute;
    top: 10px;
    left: 9px;
    width: 30px;
    height: 30px;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;
    content: "";
  }
  input {
    width: 400px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #dfdfdf;
    pointer-events: none;
    content: "";
  }

  &.is_focus {
    z-index: 10;

    &::after {
      border: 1px solid $main400;
    }
  }

  &.is_error {
    z-index: 20;

    &::after {
      border: 2px solid #ff3f3f;
    }
  }
}

.wrapper_username {
  &::before {
    background-position: -342px -64px;
  }
}

.wrapper_email {
  &::before {
    background-position: -96px -296px;
  }
}

.wrapper_userCode {
  &::before {
    background-position: -288px -296px;
  }
}
.wrapper_userInfo {
  &::before {
    background-position: -310px 0;
  }
}

.findBtn {
  border-radius: 6px;
  margin-top: 10px;
  background-color: $main400;
  height: 50px;
  width: 460px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.userInfo {
  color: $main500;
}
.timer {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  // margin-left: 50px;
}

.FindAccount_Btn {
  margin-bottom: 50px;
  border-radius: 6px;
  margin-top: 10px;
  background-color: $main400;
  height: 50px;
  width: 460px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}
