@charset "utf-8";
@import "../../scss/variables.scss";

.loading_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    display: block;
    background: 0 0;
    width: 20px;
    height: 20px;
    border-width: 1px;
    animation: rotate .9s linear infinite;
    border-radius: 100%; 
    border-top: 1px solid #545a6a;
    border-bottom: 1px solid #d4d4db;
    border-left: 1px solid #545a6a;
    border-right: 1px solid #d4d4db;
    content: '';
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(-360deg);
    }

    100% {
      transform: rotateZ(0);
    }
  }
}