@charset "utf-8";
@import "../../scss/variables.scss";

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 8px 0;
  height: 77px;
  border-bottom: 1px solid #dbe1e5;

  &:last-child {
    border-bottom: 0;
  }

  &.is_notification {
    background-color: $main100;

    .title {
      font-weight: 700;
      color: $main600;
    }
  }
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.recommend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  
  svg {
    margin: 0 auto 4px;
  }

  .count {
    color: #98a0a7;
    font-size: 14px;
  }
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-right: 1px;
}

.title_wrap {
  display: flex;
  line-height: 25px;

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #222;

    &[data-visited="true"] {
      color: #8b99a6b3;
    }
  }

  .count {
    padding-left: 5px;
    color: $main600;
    font-style: normal;
    font-weight: 700;
  }

  .btn_correct {
    margin-left: 5px;
    background-color: $main400;
    border-radius: 13px;
    padding: 0 7px;
    color: #fff;
    font-weight: 400;
    z-index: 100;
  }
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  margin-top: 5px;
  color: $mainSub;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category, .last_update {
  display: flex;
  align-items: center;
  padding-right: 8px;
  line-height: 24px;

  &::after {
    border-right: 1px solid $mainSub;
    height: 12px;
    margin-left: 8px;
    content: "";
  }
}

.writer {
  display: flex;
  align-items: center;
}

.rank {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: red;
  border-radius: 50%;
  line-height: 24px;
}

.thumbnail {
  position: relative;
  width: 93px;
  height: 60px;

  .img {
    vertical-align: middle;
    object-fit: cover;
  }
}

.post_write_wrap {
  padding: 16px;
  position: relative;
  background-color: $mainBackground;
  border: 1px solid #dbe1e5;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.post_wrote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 18px 16px 17px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
  background-color: $mainBackground;
  border: 1px solid #dbe1e5;
  line-height: 21px;
  color: $mainText;
  font-weight: 600;
  border-radius: 10px;

  strong {
    color: $main700;
    font-weight: 700;
  }
}

.post_write_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
  gap: 8px;
}

.post_write_select {
  position: relative;
  width: fit-content;
  padding: 9px 30px 8px 15px;
  border-radius: 4px;
  line-height: 17px;
  font-size: 14px;
  border: 1px solid #dddfe4;
  color: #98a0a7;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg,transparent 50%,var(--gray700) 50%),linear-gradient(135deg,var(--gray700) 50%,transparent 50%);
  -webkit-background-position: calc(100% - 15px) calc(1em + 2px),calc(100% - 10px) calc(1em + 2px);
  background-position: calc(100% - 15px) calc(1em + 2px),calc(100% - 10px) calc(1em + 2px);
  -webkit-background-size: 5px 5px,5px 5px;
  background-size: 5px 5px,5px 5px;
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' fill='none'%3E%3Cpath fill='%23888' d='M9.018.151a.623.623 0 0 1 .814 0 .477.477 0 0 1 .06.666l-.06.064-4.425 3.968a.626.626 0 0 1-.742.054l-.072-.054L.168.88a.48.48 0 0 1 0-.73.626.626 0 0 1 .743-.054L.982.15 5 3.755 9.018.15Z'/%3E%3C/svg%3E")
      no-repeat;
    width: 10px;
    height: 5px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    vertical-align: top;
    z-index: 10;
    content: "";
  }
}

.post_write_top {
  padding: 8px 0px;
}

.post_write_top {
  color: $mainText;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.post_write_title {
  box-sizing: border-box;
  padding: 10px 32px 9px 16px;
  border: 1px solid #dddfe4;
  border-radius: 4px;
  line-height: 17px;
  font-size: 14px;
  outline: none;
}

.editor_wrapper {
  margin-top: 8px;
  border: 1px solid #dddfe4;
  border-radius: 4px;

  .editor_toolbar {
    padding: 10px 10px 9px;
    border: 0;
    border-radius: inherit;
    border-bottom: 1px solid #dddfe4;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f8f9fa;
  }
}

.editor_content {
  min-height: 300px;
  margin: 0 10px;
}

.btn_note_write {
  line-height: 35px;
  padding-left: 20px;
  padding-right: 10px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(162,187,236,0.999)' stroke='' viewBox='0 0 18 19'%3e%3cpath fill-rule='evenodd' d='M17.609 12.965c0 .147-.06.288-.165.39l-4.68 4.511a.542.542 0 01-.746.006l-3.411-3.186c-.028-.026-.042-.059-.063-.088l-3.421 3.296a.544.544 0 01-.376.152l-.016-.001a.537.537 0 01-.382-.175L.261 13.416a.541.541 0 01.028-.761l3.579-3.368V.532c0-.299.242-.542.541-.542h9.248c.299 0 .541.243.541.542v8.929l3.245 3.113a.544.544 0 01.166.391zM4.771 16.73l7.703-7.422-3.491-3.349-7.563 7.118 3.351 3.653zm8.344-14.66L9.773 5.216l3.342 3.206V2.07zm-.52-.997h-7.14L8.99 4.465l3.605-3.392zM8.201 5.209L4.951 2.09v6.178l3.25-3.059zm5.055 4.849l-3.962 3.817c.016.012.038.006.052.02l3.036 2.835 3.905-3.764-3.031-2.908z'/%3e%3c/svg%3e") 0 9px/ 17px 17px no-repeat;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  
  &:hover {
    text-decoration: underline;
    color: $mainText;
  }
}

.notice_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 24px;
}

.no_result_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1000px;
  font-size: 20px;
}