@charset "utf-8";
@import "../../scss/variables.scss";

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 15px;
}

.tab_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $main500;

  .tab_list {
    display: flex;
    position: relative;
    margin: 14px 0 0 0;
    padding: 0;
  }

  button {
    height: 33px;
    padding: 2px 10px 0;
    border-bottom: 4px solid transparent;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -1px;
    line-height: 1.2 !important;

    &[aria-selected="true"] {
      color: $main500;
      border-color: $main500;
    }
  }

  .btn_note_write {
    line-height: 35px;
    padding-left: 20px;
    padding-right: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(162,187,236,0.999)' stroke='' viewBox='0 0 18 19'%3e%3cpath fill-rule='evenodd' d='M17.609 12.965c0 .147-.06.288-.165.39l-4.68 4.511a.542.542 0 01-.746.006l-3.411-3.186c-.028-.026-.042-.059-.063-.088l-3.421 3.296a.544.544 0 01-.376.152l-.016-.001a.537.537 0 01-.382-.175L.261 13.416a.541.541 0 01.028-.761l3.579-3.368V.532c0-.299.242-.542.541-.542h9.248c.299 0 .541.243.541.542v8.929l3.245 3.113a.544.544 0 01.166.391zM4.771 16.73l7.703-7.422-3.491-3.349-7.563 7.118 3.351 3.653zm8.344-14.66L9.773 5.216l3.342 3.206V2.07zm-.52-.997h-7.14L8.99 4.465l3.605-3.392zM8.201 5.209L4.951 2.09v6.178l3.25-3.059zm5.055 4.849l-3.962 3.817c.016.012.038.006.052.02l3.036 2.835 3.905-3.764-3.031-2.908z'/%3e%3c/svg%3e") 0 9px/ 17px 17px no-repeat;
    color: #333;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  display: flex;
  align-items: flex-end;
  font-weight: 500;

  h4 {
    color: #000;
    font-size: 17px;
  }

  p {
    margin-left: 8px;
    padding-bottom: 2px;
    color: #acacac;
    font-size: 14px;

    em {
      color: $main700;
      font-weight: 700;
    }

    span {
      color: #666;
      font-weight: 700;
    }
  }
}

.set_area {
  display: flex;

  a {
    margin-left: 20px;
  }

  .btn_edit {
    margin-left: 20px;
    padding: 1px 0 0 18px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3e%3cpath fill-rule='evenodd' fill='%237C7C7C' d='M12 8v4H8v1H5v-1H1V8H0V5h1V1h4V0h3v1h4v4h1v3h-1zm0-2h-1V2H7V1H6v1H2v4H1v1h1v4h4v1h1v-1h4V7h1V6zM8 6h1v1H8V6zM7 5h1v1H7V5zM5 6V5h1v1H5zm1 2H5V7h1v1zm2-1v1H7V7h1zM7 9H6V8h1v1zM4 7V6h1v1H4zm2-3h1v1H6V4z'/%3e%3c/svg%3e") 0 2px no-repeat;
    background-size: 13px 13px;
    color: #666;
    font-size: 14px;
  }

  .btn_clear {
    margin-left: 20px;
    padding: 1px 0 0 18px;
    position: relative;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 12'%3e%3cpath fill-rule='evenodd' fill='%237C7C7C' d='M10 5v6H9V5H2v6H1V5H0V1h3V0h5v1h3v4h-1zm0-3H1v2h9V2zm-6 8H3V6h1v4zm2 0H5V6h1v4zm2 0H7V6h1v4zm1 2H2v-1h7v1z'/%3e%3c/svg%3e") 0 2px no-repeat;
    background-size: 11px 12px;
    color: #666;
    font-size: 14px;

    &:only-child {
      &::before {
        display: none;
      }
    }

    &::before {
      position: absolute;
      top: 3px;
      left: -10px;
      background: #d7d7d7;
      width: 1px;
      height: 11px;
      content: "";
    }
  }
}

.note_util {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-top: 1px solid #555;


  .btn_list {
    display: flex;

    a {
      margin-right: 7px;
      padding: 0 8px;
      border: 1px solid #d7d7d7;
      border-radius: 2px;
      color: #555;
      line-height: 26px !important;
      text-align: center;
      font-size: 12px;
      text-decoration: none !important;
    }

    .btn_remove {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 7'%3e%3cpath fill-rule='evenodd' fill='%23f43a1b' d='M2 7H0V6h1V5h1V4h1V3H2V2H1V1H0V0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1z'/%3e%3c/svg%3e") 0 3px no-repeat;
      background-size: 8px 8px;
      padding-left: 13px;
    }
  }
}

.select_area {
  display: flex;

  .select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.5 8.5'%3e%3cpath stroke='%23555' fill='none' d='M2.2.5l4.3 4.63L10.8.5'/%3e%3c/svg%3e") calc(100% - 6px) 10px no-repeat;
    background-size: 13px 8px;
    height: 26px;
    margin-left: 5px;
    padding: 0 26px 0 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #555;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
}

.note_table {
  width: 100%;
  border: none;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #555;
  border-collapse: collapse;

  tr {
    &.is_read {
      td {
        color: gray;
      }
    }
  }

  th {
    padding: 12px 0 10px 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    color: #333;
    text-align: center;
    font-weight: normal;
    font-size: 12px;

    input {
      display: inline-block;
      appearance: auto;
      width: 13px;
      height: 13px;
      vertical-align: top;
    }
  }

  td {
    padding: 12px 0 11px 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    color: $mainText;
    letter-spacing: -1px;
    text-align: center;
    word-break: break-all;
    vertical-align: middle;
    font-size: 12px;

    input {
      display: inline-block;
      appearance: auto;
      width: 13px;
      height: 13px;
      vertical-align: top;
    }

    &.none {
      padding: 50px 0;
    }
  }
}

.paging {
  margin-top: 20px;
  text-align: center;

  em {
    display: inline-block;
    padding: 2px 6px 3px 6px;
    height: 14px !important;
    margin: 0 3px;
    border: 1px solid #396fcb;
    vertical-align: top;
    font-style: normal;
    color: #396fcb;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
  }

  span {
    display: inline-block;
    padding: 0 2px;
    margin: 0 3px;
    color: $mainText;
    vertical-align: top;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    cursor: pointer;
  }
}

.note_write {
  padding-bottom: 20px;

  .note_write_title {
    height: 20px;
    margin: 0;
    padding: 9px 0 0 13px;
    border-bottom: 1px solid $main600;
    text-align: left;
    color: $main600;
    font-size: 12px;
    font-weight: bold;
    font-family: 'NGEB', dotum, '돋움';
  }

  .body {
    position: relative;
    padding: 13px 13px 0;
  }

  .toBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    .input_side {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
      box-sizing: border-box;
      max-height: 62px;
      border: 1px solid #d9dfe8;
    }

    label {
      line-height: 32px;
      margin-right: 10px;
      color: $mainText;
      font-size: 13px;
    }

    .main_search {
      box-sizing: border-box;
      width: 100%;
      height: 32px;
      padding: 0 10px;
      cursor: text;
    }

    .detail_title {
      line-height: 32px;
      margin-right: 36px;
      color: #222;
      font-size: 13px;
    }

    .content {
      height: 20px;
      margin-top: 0;
      padding: 10px;
      flex: 1;
      overflow-y: auto;
      word-break: break-all;
    }
  }

  .content {
    margin-top: 10px;
    border: 1px solid #d9dfe8;

    textarea {
      overflow: auto;
      width: 100%;
      height: 330px;
      padding: 10px;
      outline: none;
      border: none;
      word-break: break-word;
      word-wrap: break-word;
    }
  }

  .bottom_btn_area {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    button {
      width: 74px;
      border: 1px solid $main400;
      border-radius: 3px;
      background-color: $main400;
      color: #fff;
      font-size: 12px;
      line-height: 30px;
      text-decoration: none;

      &:last-child {
        margin-left: 20px;
        background-color: #fff;
        border: 1px solid #b8b8b8;
        color: $mainText;
      }
    }
  }
}

.user_search {
  position: absolute;
  top: 44px;
  left: 72px;
  right: 13px;
  background: #fff;
  border: 1px solid #d9dfe8;
  z-index: 10;

  li {
    padding: 4px 16px 4px 6px;
    color: #555;
    font-size: 13px;
    cursor: pointer;

    &:hover {
      background-color: $main100;
    }
  }
}

.tags_input {
  width: 300px;
  padding: 0 16px 0 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;

  .tag {
    word-break: break-all;
    margin-right: 2px;
    color: #757575;
    font-size: 12px;

    .remove_btn {
      margin-left: 1px;
      cursor: pointer;
      color: #A4BDDB;

      &::before {
        font-size: 14px;
        padding: 0 2px;
        content: "x";
      }
    }
  }

  .sub_search {
    width: 140px;
    height: 32px;
    max-width: inherit;
    padding: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
    color: #757575;
    font-size: 12px;
    cursor: text;
  }
}