@charset "utf-8";


// main color
$main100: #ECF2FF;
$main200: #D5E3FF;
$main300: #B3CDFF;
$main400: #81ACFF;
$main500: #5383E8;
$main600: #4171D6;
$main700: #2F5EC0;

//aside border/background-color
$asideBorder: #dbe1e5;
$asideBackground: #f7f9fa;